format = """
$os\
$username\
$shell\
$directory\
$git_branch\
$git_status\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
$docker_context\
$time\
$cmd_duration\
$line_break\
$character
"""

palette = 'catppuccin_mocha'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"


[os]
format = '[$symbol]($style)'
style = "bold fg:blue"
disabled = false

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
NixOS = " "

[username]
show_always = true
style_user = "bold fg:sky"
style_root = "bold fg:red"
format = '[\[$user\]]($style)(style)'

[shell]
bash_indicator = 'bash'
fish_indicator = 'fish'
format = '[\[$indicator\]]($style)'
style = "bold fg:lavender"
disabled = false

[directory]
style = "bold fg:peach"
format = '[\[$path\]]($style)'
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bold fg:yellow"
format = '[\[$symbol $branch ]($style)'

[git_status]
style = "bold fg:yellow"
format = '[$all_status$ahead_behind\]]($style)'

[c]
symbol = " "
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[rust]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[golang]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[nodejs]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[php]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[java]
symbol = " "
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[kotlin]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[haskell]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[python]
symbol = ""
style = "bold fg:teal"
format = '[\[$symbol ($version)\]]($style)'

[docker_context]
symbol = ""
style = "bold fg:flamingo"
format = '[\[$symbol $context\]]($style)'

[time]
disabled = false
time_format = "%R"
style = "bold fg:mauve"
format = '[\[󰥔 $time\]]($style)'

[cmd_duration]
disabled = false
show_milliseconds = true
min_time = 100
style = "fg:pink"
format = '[\[took $duration\]]($style)'

[line_break]
disabled = false

[character]
success_symbol = "[λ](bold fg:sapphire)"
error_symbol = "[⊥](bold fg:red)"
vimcmd_symbol = "[V](bold fg:green)"
