#Typecraft's Starship Config:
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
[](surface0)\
$os\
$username\
[](bg:lavender fg:surface0)\
$shell\
[](fg:lavender bg:red)\
$directory\
[](fg:red bg:green)\
$git_branch\
$git_status\
[](fg:green bg:teal)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:teal bg:blue)\
$docker_context\
[](fg:blue bg:mauve)\
$time\
[ ](fg:mauve)\
$cmd_duration\
$line_break$character
"""

palette = 'catppuccin_mocha'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[os]
disabled = false
style = "bg:surface0 fg:blue"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
NixOS = " "

[username]
show_always = true
style_user = "bg:surface0 fg:text"
style_root = "bg:surface0 fg:text"
format = '[ $user ]($style)'

[directory]
style = "fg:mantle bg:red"
format = "[ $path ]($style)"
truncation_length = 3
truncate_to_repo = false

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "fg:base bg:green"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:base bg:green"
format = '[ $all_status$ahead_behind ]($style)'

[nodejs]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[c]
symbol = " "
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[rust]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[golang]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[php]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[java]
symbol = " "
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[kotlin]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[haskell]
symbol = " "
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[python]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[docker_context]
symbol = ""
style = "fg:base bg:teal"
format = '[ $symbol( $version) ]($style)'

[time]
disabled = false
time_format = "%R"
style = "fg:mantle bg:mauve"
format = '[  $time ]($style)'

[shell]
disabled = false
bash_indicator = 'bash'
fish_indicator = 'fish'
style = "bg:lavender fg:mantle"
format = '[ $indicator ]($style)'


[fill]
symbol = '-'
style = 'green'

[cmd_duration]
disabled = false
show_milliseconds = true
min_time = 500
format = " in $duration"
show_notifications = true

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[λ](bold fg:sapphire)'
error_symbol = '[⊥](bold fg:maroon)'
vimcmd_symbol = '[V](bold fg:green)'

